footer {
    bottom: 0;
    left: 0;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color de texto según tus preferencias */
    padding: 10px; /* Añade relleno para que el contenido sea visible */
    text-align: center; /* Centra el texto dentro del pie de página */
}
.footer h4 {
    color: #ffc107;
    margin-bottom: 20px;
}


.footer ul {
    list-style: none;
    padding-left: 0;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    color: #292828;
    text-decoration: none;
    transition: color 0.3s;
}
.footer ul li a:hover {
    color: #ffc107;
}
.footer p {
    margin-bottom: 20px;
}