* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilos para el encabezado h1 */
/* Estilos para el encabezado h1 */
h1 {
  font-size: 36px;
  font-weight: bold;
  color: #f39c12; /* Color naranja llamativo */
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Sombra 3D */
  background: linear-gradient(45deg, #f39c12, #e74c3c); /* Degradado de fondo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



  .mt60px{
    margin-top: 60px;
  }
  

/* Estilos para tamaño de pantalla grande */
@media (min-width: 992px) {
  .ad-card {
      width: 100%; /* Ancho del 100% para ocupar toda la fila */
  }

}

/* Estilos para tamaño de pantalla mediano y pequeño */
@media (max-width: 991px) {
 

  .row-cols-2 {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  .ad-card {
    width: 100%; /* Ancho del 50% para que aparezcan dos por fila */
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

}

/* Estilos para las tarjetas */
.ad-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.ad-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
    background: linear-gradient(135deg, #FFFFCC 0%, #FFCC99 50%, #FFFFCC 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.embed-responsive {
  max-width: 100%;
  overflow: hidden;
}


/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .video-row {
      width: 100%;
      margin-right: 0; /* Elimina el margen derecho para ocupar todo el ancho */
  }
}
