* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilos para el encabezado h1 */
/* Estilos para el encabezado h1 */
h1 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); /* Sombra 3D */
  background: linear-gradient(45deg, #eaf394, #ffffff); /* Degradado de fondo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1welcome {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgb(212, 206, 206); /* Sombra 3D */
  background: linear-gradient(45deg, #000000, #000000); /* Degradado de fondo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



  .mt60px{
    margin-top: 60px;
  }
  

  .logo {
    display: flex;
    align-items: center;
}



.scroll-navbar {
  width: 100%; /* O ajusta el ancho según tus necesidades */
  background-color: #f0f0f0;
  overflow-x: scroll;
  white-space: nowrap; /* Evita que los elementos se dividan en varias líneas */
  text-align: center;
}

.scroll-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block; /* Muestra la lista en línea */
}

.scroll-navbar li {
  display: inline-block; /* Muestra los elementos en línea */
  padding: 10px;
}

.scroll-navbar a {
  text-decoration: none;
  color: #333;
}


/* Estilos para tamaño de pantalla mediano y pequeño */
 

  .row-cols-2 {
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
  }
  .ad-card {
    width: 100%; /* Ancho del 50% para que aparezcan dos por fila */
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }


/* Estilos para las tarjetas */
.ad-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.ad-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
    background: linear-gradient(135deg, #FFFFCC 0%, #FFCC99 50%, #FFFFCC 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

.container {
  background: url('/images/colores.jpg') no-repeat center center fixed;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bgcolor {
  margin: 0px;
 background-color: rgb(215, 175, 196);
  background-size: cover; /* Ajusta el tamaño del fondo para cubrir el div */
  background-position: center; /* Ajusta la posición del fondo */
  overflow: hidden; /* Oculta el contenido que desborde */
}
.containerfooter {
  background-color: rgba(249, 245, 245, 0.9);
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.embed-responsive {
  max-width: 100%;
  overflow: hidden;
}


/* Estilos para dispositivos móviles */

  .video-row {
      width: 100%;
      margin-right: 0; /* Elimina el margen derecho para ocupar todo el ancho */
  } 


.navigation {
  display: flex;
  align-items: center; /* Esto centra verticalmente los elementos */
}

.list {
  display: flex;
  align-items: center;
}


.imageCarousel {
  width: 100%;
  max-width: 600px; /* Ajusta el ancho máximo según tus preferencias */
  margin: auto;
}


.scroll-navbar {
  margin-top: -60px;
  color: pink;
  background-color: purple;
}

/* Cambia el color del texto al estar en hover */
.scroll-navbar a:hover {
  color: white;
}

/* Estilos para los enlaces de título */
.scroll-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scroll-navbar li {
  display: inline;
  margin-right: 10px; /* Espacio entre títulos */
}


.animation-scroll ul {
  animation: scrollAnimation 10s linear infinite; /* Ajusta la velocidad (30s) según lo necesario */
  white-space: nowrap; /* Evita el ajuste de línea */
  overflow: hidden; /* Oculta el desbordamiento */
  margin: 0; /* Elimina el margen de la lista */
  padding: 0; /* Elimina el relleno de la lista */
  list-style: none; /* Elimina los marcadores de lista */
}

.animation-scroll li {
  display: inline-block;
  margin-right: 20px; /* Espacio entre elementos */
}

@keyframes scrollAnimation {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }

  
}


@media (max-width: 500px) {
  /* Estilos para pantallas con menos de 500px de ancho */
  .mb2000menos {
      margin-bottom: -2440px;
  }
}


.table-container {
  overflow-x: auto; /* Agrega un scroll horizontal si el contenido desborda */
  max-width: 100%; /* Asegura que el contenedor no desborde del contenedor padre */
}