/* Estilos para centrar la barra de navegación */
.navcontainer {
  display: flex;
  justify-content: center;
}

/* Estilos para el cuerpo de la barra de navegación */
.navbody {
  width: 100%;
}

/* Estilos para el menú de navegación */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

/* Estilos para los elementos de navegación */
.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de autenticación */
.navigation ul.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la lista */
.navigation ul li {
  margin: 0 10px;
  list-style: none;
}

/* Estilos para los enlaces */
.navigation ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Estilos para los íconos */
.navigation ul li a .icon {
  margin-right: 5px;
  font-size: 1.2em;
}


